<div class="indicator-item">
    <div class="indicator-card {{{className cardSubType}}}">
        <div class="indicator-card-title {{{className cardSubType}}}">
            <div class="title"><span>{{markitdata.creditsuisse.companyName}}</span><br>Q{{markitdata.creditsuisse.quarter}}, {{markitdata.creditsuisse.year}}</div>
        </div>
        <div class="indicator-card-body">
            <div class="chart"><img src='{{{chartUrl cardSubType}}}'/></div>
            <div class="blurb">
            <h4>Revenues:</h4> {{markitdata.creditsuisse.revenueStr}}<br/>
            <h4>Earnings:</h4> {{markitdata.creditsuisse.earningsStr}}<br/>

            </div>
            <div class="timestamp">Financials as of {{markitdata.creditsuisse.timestamp}}</div>
        
            <h3>Want more? Dive into the FT's indepth coverage</h3>
            <ul class="blurb">
            {{#search.cs.hits.hits}}
                <li><a href="http://next.ft.com/{{_id}}">{{_source.title}}</a></li>
            {{/search.cs.hits.hits}}</ul>
            <h4>Explore {{companyData.creditsuisse.prefLabel}}</h4>
            <p class="blurb">Sector: <a href="{{companyData.google.id}}">Banking</a><br>
                Senior management:
            </p>
            <ul class="blurb">
            {{#companyData.creditsuisse.memberships}}
               <li><a href="www.gogle.com">{{title}}: {{person.prefLabel}}</a></li>
            {{/companyData.creditsuisse.memberships}}
            </ul>
        </div> 
    </div>
</div>