<div class="indicator-item">
    <div class="indicator-card {{{className cardSubType}}}">
        <div class="indicator-card-title {{{className cardSubType}}}">
            <div class="title"><span>{{markitdata.creditsuisse.companyName}}</span><br>Quarter: {{markitdata.creditsuisse.quarter}}:{{markitdata.creditsuisse.year}}</div>
        </div>
        <div class="indicator-card-body">
            <div class="chart"><img src='{{{chartUrl cardSubType}}}'/></div>
            <div class="blurb">
            <h4>Revenue:</h4> {{markitdata.creditsuisse.revenueStr}}<br/>
            <h4>Earning:</h4> {{markitdata.creditsuisse.earningsStr}}<br/>

            </div>
            <div class="timestamp">Financials as of {{markitdata.creditsuisse.timestamp}}</div>
        
            <h3>Want more? Dive into the FT's indepth coverage</h3>
            {{#search.cs.hits.hits}}
                <li><a href="http://next.ft.com/{{_id}}">{{_source.title}}</a></li>
            {{/search.cs.hits.hits}}
            <h3>Explore {{companyData.creditsuisse.prefLabel}}</h3>
            Sector: <a href="">Banking</a>

            <p>
                Senior management
            </p>
            <ol>
            {{#companyData.creditsuisse.memberships}}
               <li>{{title}}: {{person.prefLabel}}</li>
            {{/companyData.creditsuisse.memberships}}
            </ol>
        </div> 
    </div>
</div>