<div class="indicator-item">
    <div class="indicator-card {{{className cardSubType}}}">
        <div class="indicator-card-title {{{className cardSubType}}}">
                <div style="float:right">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://s3.amazonaws.com/blitline/2015042112/5409/7VgdRHIjHM1wSN14QZF2-2w.png" data-text="Snapshot: google earnings" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            <div class="title"><span>{{markitdata.creditsuisse.companyName}}</span><br>Q{{markitdata.creditsuisse.quarter}}, {{markitdata.creditsuisse.year}}</div>
        </div>
        <div class="indicator-card-body">
            <div class="chart"><img src='{{{chartUrl cardSubType}}}'/></div>
            <div class="blurb">
            <h4>Revenues:</h4> {{markitdata.creditsuisse.revenueStr}}<br/>
            <h4>Earnings:</h4> {{markitdata.creditsuisse.earningsStr}}<br/>

            </div>
            <div class="timestamp">Financials as of {{markitdata.creditsuisse.timestamp}}</div>
        
            <h3>Want more? Dive into the FT's indepth coverage</h3>
            <ul class="blurb">
            {{#search.cs.hits.hits}}
                <li><a href="http://next.ft.com/{{_id}}">{{_source.title}}</a></li>
            {{/search.cs.hits.hits}}</ul>
            <h4>Explore {{companyData.creditsuisse.prefLabel}}</h4>
            <p class="blurb">Sector: <a href="{{companyData.google.id}}">Banking</a><br>
                Senior management:
            </p>
            <ul class="blurb">
            {{#companyData.creditsuisse.memberships}}
               <li><a href="www.gogle.com">{{title}}: {{person.prefLabel}}</a></li>
            {{/companyData.creditsuisse.memberships}}
            </ul>
        </div> 
    </div>
</div>