<div class="indicator-item">
    <div class="indicator-card {{{className cardSubType}}}">
        <div class="indicator-card-title {{{className cardSubType}}}">
            <div class="title"><span>{{markitdata.google.companyName}}</span><br>Quarter: {{markitdata.google.quarter}}:{{markitdata.google.year}}</div>
        </div>
        <div class="indicator-card-body">
            <div class="chart"><img src='{{{chartUrl cardSubType}}}'/></div>
            <div class="blurb">
            <h4>Revenue:</h4> {{markitdata.google.revenueStr}}<br/>
            <h4>Earning:</h4> {{markitdata.google.earningsStr}}<br/>

            </div>
            <div class="timestamp">Financials as of {{markitdata.google.timestamp}}</div>
        
            <h3>Want more? Dive into the FT's indepth coverage</h3>
            {{#search.google.hits.hits}}
                <li><a href="http://next.ft.com/{{_id}}">{{_source.title}}</a></li>
            {{/search.google.hits.hits}}
            <h3>Explore {{companyData.google.prefLabel}}</h3>
            Sector: <a href="">{{companyData.google.industryClassification.prefLabel}}</a>

            <p>
                Senior management
            </p>
            <ol>
            {{#companyData.google.memberships}}
               <li>{{title}}: {{person.prefLabel}}</li>
            {{/companyData.google.memberships}}
            </ol>
        </div> 
    </div>
</div>