<div class="indicator-item">
    <div class="indicator-card {{{className cardSubType}}}">
        <div class="indicator-card-title {{{className cardSubType}}}">
            <div class="title"><span>{{markitdata.songbird.companyName}}</span><br>Quarter: {{markitdata.songbird.quarter}}:{{markitdata.songbird.year}}</div>
        </div>
        <div class="indicator-card-body">
            <div class="chart"><img src='{{{chartUrl cardSubType}}}'/></div>
            <div class="blurb">
            Revenue: {{markitdata.songbird.revenue}}<br/>
            Earning: {{markitdata.songbird.earning}}

            {{markitdata.songbird}}

            </div>
            <div class="timestamp">Financials as of {{markitsdata.songbird.timestamp}}</div>
        
            <h3>Want more? Dive into the FT's indepth coverage</h3>
        </div> 
    </div>
</div>