<!DOCTYPE html>
<html class="core">
<head>
	{{> generic/header}}
</head>

<body>
	<header id="ft-header">
	  <a href="//www.ft.com/"><img src="img/ft.svg" alt="Financial Times" height="20"></a>
	</header>
	<div class="o-grid-row">
		<h1>Snapshot: bitesized company earnings</h1>
		<div class="content-holder" data-o-grid-colspan="S12 M12 L12 XL12">
			<div id="intro-text">An automated at-a-glance guide to the most important company earnings of the day: share the facts with one-click on social media or dive into <a href="http://www.ft.com">FT.com’s</a> indepth coverage</div>

	    	{{> googleCard cardSubType="google"}}
	    	{{> skyCard cardSubType="sky"}}
	    	{{> bankofscotlandCard cardSubType="bankofscotland"}}

    		{{> creditsuisseCard cardSubType="creditsuisse"}}
	    	{{> googleCard cardSubType="google"}}
	    	{{> googleCard cardSubType="google"}}

    	</div>
    </div>

	{{> generic/footer}}
</body>
</html>
