<!-- REPLACED BY earnings.html -->

<!-- <!DOCTYPE html>
<html class="core">
<head>
	{{> generic/header}}
</head>

<body>
	<header id="ft-header">
	  <a href="//www.ft.com/"><img src="img/ft.svg" alt="Financial Times" height="20"></a>
	</header>
	<div class="o-grid-row">
		<h1>Company Name</h1>
		<div class="content-holder" data-o-grid-colspan="S12 M12 L12 XL12">
			<div id="intro-text">This is some smart text we get from the MoD api</div>

	    	{{> generic/card cardSubType="Google"}}
	    	{{> generic/card cardSubType="Sky"}}
	    	{{> generic/card cardSubType="Pets At Home"}}

    		{{> generic/card cardSubType="Yahoo"}}
	    	{{> generic/card cardSubType="Verizon"}}
	    	{{> generic/card cardSubType="Publicis"}}

    	</div>
    </div>

	{{> generic/footer}}
</body>
</html>
 -->