<div class="indicator-item">
    <div class="indicator-card {{cardSubType}}">
        <div class="indicator-card-title {{cardSubType}}">
            <div class="title"><span>Google</span><br>The main figures</div>
        </div>
        <div class="indicator-card-body">
<p>{{{getTickerSymbol cardSubType}}}</p>
<!-- Got to here - need to start pulling in data using markits data controller -->
            <div class="chart"><img src='http://markets.ft.com/Research/API/ChartBuilder?t=equities&p=eyJzeW1ib2wiOiIxNDA4NjQiLCJyZWdpb24iOm51bGwsImhlaWdodCI6IjE5MyIsIndpZHRoIjoiMjcyIiwibGluZVN0eWxlIjoibGluZSIsImR1cmF0aW9uIjoiMzY1Iiwic3RhcnREYXRlIjpudWxsLCJlbmREYXRlIjpudWxsLCJwcmltYXJ5TGFiZWwiOiJHb29nbGUiLCJzZWNvbmRhcnlMYWJlbCI6IlllYXIgdG8gZGF0ZSIsInRlcnRpYXJ5TGFiZWwiOm51bGwsInF1YXRlcm5hcnlMYWJlbCI6bnVsbCwiaXNNb2JpbGUiOmZhbHNlLCJTaG93RGlzY2xhaW1lciI6dHJ1ZSwidW5pdCI6InB4In0='/></div>
            <div class="blurb">
            Net Income: £24.50<br/>
            Historical income: £2.40<br/>
            Quarterly: £0.50m
            </div>
            <div class="timestamp">Last updated: April 6 2015</div>
        </div> 
    </div>
</div>