<div class="indicator-item">
    <div class="indicator-card {{{className cardSubType}}}">
        <div class="indicator-card-title {{{className cardSubType}}}">
            <div class="title"><span>Thingy{{markitdata.cardSubType}}</span><br>The main figure</div>
        </div>
        <div class="indicator-card-body">
            <div class="chart"><img src='{{{chartUrl cardSubType}}}'/></div>
            <div class="blurb">
            Stuff: {{{makeJson markitdata.cardSubType}}}
            {{markitdata.cardSubType.name}}
            </div>
            <div class="timestamp">Last updated: April 6 2015</div>
        </div> 
    </div>
</div>